body {
    background: #efefef;
    font-family: sans-serif;
  }
   
  h2 {
    color: rgb(0, 0, 0);
  }
   
  .login {
    padding: 1em;
    margin: 2em auto;
    width: 17em;
    background: rgb(255, 255, 255);
    border-radius: 3px;
  }
   
  label {
    font-size: 10pt;
    color: #555;
  }
   
  input[type="text"],
  input[type="password"],
  textarea {
    padding: 8px;
    width: 95%;
    background: #efefef;
    border: 2;
    font-size: 10pt;
    margin: 6px 0px;
  }
   
  .tombol {
    background: #3498db;
    color: #fff;
    border: 2;
    padding: 5px 8px;
    margin: 20px 0px;
  }
  
  .kolom {
    padding: 1em;
    margin: 1em;
    width: 95%;
    height: 630px;
    background: #fff;
    border-radius: 5px;
  }

  .tabel {
    padding: 1em;
    margin: 2em auto;
    width: 28em;
    background: #fff;
    border-radius: 3px;
  }

  .button {
    background-color: #0b7c0f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }